/* FUENTES NO STANDARD */
@font-face {
    font-family: 'sanspro_regular';
    src: url(../fonts/sourcesanspro-regular-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'sanspro_negrita';
    src: url(../fonts/sourcesanspro-black-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'sanspro_italica';
    src: url(../fonts/sourcesanspro-lightit-webfont.woff2) format('woff2');
}
/* **************************************************************** */

/* HTML */
html {
    font-size: 16px;
    font-family: 'sanspro_regular', sans-serif;
}

body {
    background-color:rgba(125, 187, 2, 0.05);
}
/* @GLOBAL */
header,main,footer{
    display: flex;
    justify-content: center;
}
#header,#main,#footer{
    flex-basis: 1400px;
    padding: 1rem;
}
a {
    color: #7DBB02;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: capitalize;
    font-family: 'sanspro_italica', sans-serif;
}
/* @HEADER */
header {

}
#header{

}
/* ARTICLE => Logo / Nav */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}
.menu__logo {
}

.menu__navegador{
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
}

.menu__banner_triptico { 
    display: flex; 
}

/* @MAIN */

.productos {
    display: flex;
    align-self: center;
    flex-direction: column;}

.productos__texto { }

    
h2 {color: #7DBB02;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: capitalize;
    }

figure {display: flex;
        flex-direction: column;
        background-color: white;
        /* perdon toni no lo se hacer de otra manera :( */
        width: 333px;
        height: 400px;}

.productos__galeria {display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;}

.productos__galeria__titulo {color:black; padding:1rem 0;}

.productos__galeria__descripcion {color:#858585;}




/* @FOOTER */
footer {
    background-color: #7DBB02;
    color: white;
}
footer a{
    color: white;
    font-family: 'sanspro_italica', sans-serif;
}
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.izquierda {
    flex-grow: 1;
    display: flex;
    
    
}
.izquierda__redesSociales, {
    list-style-type: none;
    flex-basis: 50%;
}
.izquierda__redesSociales{
    padding: 0;
}
footer ul li {
    margin-bottom: 1rem;
    display: inline;
    
}
.tituloFooter {
    font-size: 1.125rem;
    font-family: 'sanspro_negrita', sans-serif;
}
.derecha {
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}